<h3>por pais!</h3>
<hr>

<div class="rwo">
    <div class="col">
        <app-pais-input
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event)"
        placeholder="Buscar Pais...">
            
        </app-pais-input>
    </div>
</div>

<div *ngIf="hayError" 
     class="alert alert-danger" >
    no se encontro nada con el término {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <!-- aqui iba la tabla -->
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>